.bracket-wrapper{
    display: grid;
    box-sizing: border-box;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 2em;
}

.alive-players{
    list-style: none;
    font-size: 30px;
}

.header{
    display: grid;
    justify-content: center;
}

#bracket-header{
    padding-top: 15%;
    padding-bottom: 15%;
    font-size: 60px;
}

.theme-name{
    font-size: 40px;
}

/* #power{
    grid-column: 1/2;
    grid-row: 1;
}

#twohands{
    grid-column: 2/3;
    grid-row: 1;
}

#aestheticism{
    grid-column: 3/4;
    grid-row: 1;
}

#wipers{
    grid-column: 1/2;
    grid-row: 2;
}

#multipen{
    grid-column: 2/3;
    grid-row: 2;
}

#counters{
    grid-column: 3/4;
    grid-row: 2;
}

#stand-up{
    grid-column: 2/3;
    grid-row: 3;
} */
